{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpconnector}HttpConnectorConfiguration.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpconnector}HttpConnectorConfiguration",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpconnector}HttpConnectorConfiguration.fc595a93-0f00-41b6-b05a-f9f0d266286c",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}