{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "bw.resource.jdbc.ca4c44a9-686f-4f4f-8839-75e289286c11",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}